{% extends 'base.html.twig' %}

{% block title %}Liste des Structures{% endblock %}

{% block body %}
    <h1 class="py-5">Liste des Structures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la structure</th>
                <th>Est active</th>
                <th>Adresse Email</th>
                <th>Ville</th>
                <th>Modules activés </th>
                <th>Nom Gérant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.name }}</td>
                <td>{{ structure.isActive ? '<div class="on">Activé</div>' : '<div class="off">Désactivé</div>' }}</td>
                <td>{{ structure.users.email }}</td>
                <td>{{ structure.users.city }}</td>
                <td>
                    {% if structure.Modules %}
                    {% for module in structure.Modules %}
                    {{module}}
                    {% endfor %}
                    {% endif %}
                </td>
          
                <td>{{ structure.users.lastname }}</td>
                <td>
                    <a href="{{ path('app_structures_show', {'id': structure.id}) }}">Voir</a>
                    <a href="{{ path('app_structures_edit', {'id': structure.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structures_new') }}">Créer une nouvelle structure</a>
{% endblock %}
