{% extends 'base.html.twig' %}

{% block title %}Liste des Structures{% endblock %}

{% block body %}
    <h1>Liste des Structures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la structure</th>
                <th>Est active</th>
                <th>Modules activés </th>
                <th>Slug</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Nom Gérant</th>
                <th>Prénom Gérant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.name }}</td>
                <td>{{ structure.isActive ? 'Oui' : 'Non' }}</td>
                <td>{{structure.slug}}</td>
                <td>{{ structure.slug }}</td>
                <td>{{ structure.users.city }}</td>
                <td>{{ structure.users.address }}</td>
                <td>{{ structure.users.lastname }}</td>
                <td>{{ structure.users.lastname }}</td>
                <td>
                    <a href="{{ path('app_structures_show', {'id': structure.id}) }}">Voir</a>
                    <a href="{{ path('app_structures_edit', {'id': structure.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structures_new') }}">Créer une nouvelle structure</a>
{% endblock %}
