{% extends 'base.html.twig' %}

{% block title %}Éditer le Technicien{% endblock %}

{% block body %}
    <h1>Éditer {{ user.firstname }} {{ user.lastname }} (Technicien)</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('app_users_index') }}">Revenir à la liste</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
