{% extends 'base.html.twig' %}

{% block title %}Liste des Partenaires{% endblock %}

{% block body %}
    <h1>Liste des Partenaires</h1>

    <table class="table">
        <thead>
            <tr>
           
                <th>Nom</th>
                <th>Prénom</th>
                <th>Ville</th>
                <th>Rôle</th>
                <th>Est actif</th>
                <th>Modules</th>
                <th>Slug</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
           
                <td>{{ partner.users.firstname }}</td>
                <td>{{ partner.users.lastname }}</td>
                <td>{{ partner.users.city }}</td>
                <td>{{ partner.users.RolesUsers.name }}</td>
                <td>{{ partner.isActive ? 'Oui' : 'Non' }}</td>
                <td>
                    {% if partner.Modules %}
                    {% for module in partner.Modules %}
                    {{module}}
                    {% endfor %}
                    {% endif %}
                
                </td>
                <td>{{ partner.slug }}</td>
                <td>
                    <a href="{{ path('app_partners_show', {'id': partner.id}) }}">Voir</a>
                    <a href="{{ path('app_partners_edit', {'id': partner.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partners_new') }}">Créer un nouveau Partenaire</a>
{% endblock %}
