{% extends 'base.html.twig' %}

{% block title %}Partners index{% endblock %}

{% block body %}
    <h1>Partners index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Is_active</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ partner.slug }}</td>
                <td>
                    <a href="{{ path('app_partners_show', {'id': partner.id}) }}">show</a>
                    <a href="{{ path('app_partners_edit', {'id': partner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partners_new') }}">Create new</a>
{% endblock %}
